header {
    display: flex;
    flex-direction: row;
}

.port1 {
    border: 1px black solid;
    display: flex;
    width: 80%;
}

.links {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    width: 20%;
}

.links div {
    width: 50%;
}

.img-box {
    display: flex;
    border: 1px solid black;
    width: 100%;
    justify-content: center;
}

#imagem-perfil {
    border-radius: 100%;

}

