#fotoIgor {
    border-radius: 20%;
}

body {
    color: #c59843;
    text-align: center;
    background-color: #1a2029;
}

p {
    font-size: 25px;
}

.titles {
    margin-left: 35px;
    text-align: left;
    font-size: 30px;
}

.lists {
    text-align: left;
    font-size: 25px;
    
}

.links{    
    top: 400px;
    line-height: 10px;
    color: rgb(172, 158, 158);
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}

#pages{
    margin-top: 0px;
    text-align: center;
    float: left;
    font-size: 20px;
    background-color: rgb(68, 66, 66);
    width: 10%;
    box-shadow: 5px 5px 5px black;
}

#qmsou{
    margin-top: -20px;
    margin-left: 200px;
    float: left;
    width: 40%;
    text-align: justify;
}

#imagem {
    margin-top: 30px;
    float: left;
    margin-left: 190px;
}

#maintitle{
    text-align: left;
    float: left;
    margin-left: 200px;
}

#habilities{
    text-align: left;
    float: left;
    margin-top: 100px;
    margin-left: -170px;
    width: 40%;
}

#whoami{
    font-size: 30px;
}