#main-menu {
    display: flex;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: blue;
}

.links {
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 1px;
    width: 150px;
    height: 30px;
    background-color: green;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}